[submodule "public/lattice-assets"]
	path = public/lattice-assets
	url = git@github.com:deepwinter/lattice-assets.git
[submodule "public/lattice-resources"]
	path = public/lattice-resources
	url = git@github.com:deepwinter/lattice-resources.git
