<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="content-script-type" content="text/javascript">
  <title>LatticeCMS &ldquo;It's Made of People!&rdquo;</title>
  <link type="text/css" href="lattice-resources/thirdparty/960Grid/reset.css" rel="stylesheet" />
       <link type="text/css" href="lattice-resources/thirdparty/960Grid/960.css" rel="stylesheet" />
       <link type="text/css" href="lattice-resources/css/lattice_cms.css" rel="stylesheet" />

        <script type="text/javascript" src="/dev/Lattice-Development/views/js/latticesettings"></script>
        <script type="text/javascript" src="lattice-resources/thirdparty/mootools/mootools.js"></script>
        <script type="text/javascript" src="lattice-resources/thirdparty/mootools/mootools-more.js"></script>
        <script type="text/javascript" src="lattice-resources/thirdparty/digitarald/fancyupload/Swiff.Uploader.js"></script>
        <script type="text/javascript" src="lattice-resources/thirdparty/arian/datepicker/Picker.js"></script>
        <script type="text/javascript" src="lattice-resources/thirdparty/arian/datepicker/Picker.Attach.js"></script>

        <script type="text/javascript" src="lattice-resources/thirdparty/arian/datepicker/Picker.Date.js"></script>
        <script type="text/javascript" src="lattice-resources/js/LatticeCore.js"></script>
        <script type="text/javascript" src="lattice-resources/js/LatticeModules.js"></script>
        <script type="text/javascript" src="lattice-resources/js/LatticeUI.js"></script>
        <script type="text/javascript" src="resources/basket.js"></script>
        <script type="text/javascript">
          if( !lattice.util.hasDOMReadyFired() ){
            window.addEvent( "domready", function(){
                lattice.util.DOMReadyHasFired();
                lattice.eventManager = new lattice.util.Broadcaster();
                cms = new Basket('basket');
                });
          }
        </script>

        <script type="text/javascript" src="lattice-resources/js/list.js"></script>
        <script type="text/javascript" src="lattice-resources/js/associator.js"></script>
        </head>
<body>

Bucket CMS Layout Wrapper!!
<br><br><br>

<div class="pagesPane clearFix">

      <div id="pageContainer" class="clearFix">

<%= yield %>
<%#= @content %>

      </div>
</div>

end of it...


</body>
</html>
